body {
  font-weight: 100px;
  text-decoration: none;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

.calendar-main-container {
  position: absolute;
  display: flex;
  width: 10%;
  top: 25%;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 999;

  animation: slide-in 1s forwards;
}

.calendar-container {
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 8px;

  animation: fade-in 2s forwards;
}

.calendar-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.calendar-picker-heading {
  color: #4c4e4d;
  /* background-color: #ffffff; */
  padding: 0 8px 0 8px;
  font-weight: 700;
}

.calendar-picker {
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-weight: 600;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 8px;
  margin: 8px;
  max-width: 55%;
}

.react-datepicker__day{
  background-color: burlywood;
}

.react-datepicker__day--selected{
  background-color: indianred;
}

.react-datepicker__current-month{
  background-color: yellow;
}

.react-datepicker__header{
  background-color: blue;
}

.react-datepicker__month-container{
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  background-color: red;
}

.calendar-button {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #4c4e4d;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  height: 24px;
  margin: 10px;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.calendar-button:hover,
.calendar-button:focus {
  background-color: #4c4e4d;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: #f0f0f1;
}

.calendar-button:hover {
  transform: translateY(-1px);
}

.calendar-button:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.calendar-button:disabled {
  background-color: #4c4e4d;
  color: #ffffff;
}
