body {
  font-weight: 100px;
  text-decoration: none;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

.newscard-main-card-container {
  position: relative;
  background-color: #3a3a3a;
  margin-top: 12px;
  width: 100%;
  height: auto;
  border-radius: 8px;

  animation: fade-in 1s forwards;
}

.newscard-open-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 12px;
  right: 12px;
  width: 12px;
  height: 12px;
  padding: 8px;
  background-color: #3a3a3a;
  border-radius: 100px;
}

.newscard-open-close:hover {
  cursor: pointer;
  transform: translateY(-3px);
}

.newscard-heading-container {
  display: flex;
  align-items: center;
  max-width: 90%;
  padding: 16px 24px;
  border-radius: 8px;
}

.newscard-heading {
  text-decoration: none;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.newscard-heading-highlighted {
  padding: 1px 2px 1px 2px;
  color: #3a3a3a;
  border-radius: 8px;
  background-color: #fff200;
}

.newscard-image-text-container {
  display: flex;
  flex-direction: row;
  padding: 8px;
  max-width: 100%;

  animation: fade-in 0.75s forwards;
}

.newscard-image-container {
  flex: 1;
  width: 50%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 20px;
}

.newscard-image {
  width: 100%;
  height: 100%;
}

.newscard-plus,
.newscard-plus::after {
  display: block;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 10px;
}

.newscard-plus {
  margin-top: -2px;
  position: relative;
  width: 12px;
  height: 2px;
}

.newscard-plus::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 12px;
  top: -5px;
  left: 5px;

  animation: spin 1s forwards;
}

.newscard-minus {
  display: block;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 10px;
  margin-top: -2px;
  position: relative;
  width: 12px;
  height: 2px;

  animation: spin 1s forwards;
}

.newscard-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 8px;
  max-width: 100%;
}

.newscard-bookmark {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #3a3a3a;
  width: 24px;
  height: 24px;
}

.newscard-bookmark:hover {
  cursor: pointer;
}

.newscard-bookmark svg path {
  fill: #ffffff;
}

.newscard-bookmark:hover svg path {
  transform: translateY(-3px);
}

@media (max-width: 800px) {
  .newscard-heading-container {
    display: none;
  }

  .newscard-image-text-container {
    flex-direction: column;
  }

  .newscard-image-container {
    display: block;
    width: 100%;
    padding: 0;
  }

  .newscard-open-close {
    display: none;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
