.homepage-container {
  position: relative;
  background-color: #2c2c2c;
  border: 0.5px solid #f0f0f161;
  border-bottom: none;
  left: 216px;
  padding: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
}

.hompage-heading{
  padding-left: 12px;
  color: #ffffff;
  position: relative;
}

@media (max-width: 1100px){
  .homepage-container{
    left: 76px;
  }
}
