.sidebar {
  top: 100px;
  position: fixed;
  padding: 8px;
  height: 100vh;
  width: 200px;
  background-color: #2c2c2c;
}

.sidebar-container {
  position: relative;
  height: 85%;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
}

.footer {
  padding-top: 12px;
  position: absolute;
  bottom: 5px;
  width: 100%;
  border-top: solid 1px #f0f0f161;
}

.sidebar-item {
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 25px;
  border-radius: 8px;
  background-color: #2b2b2b;
  color: #ffffff;
  padding: 18px;
  margin: 4px;
}

.sidebar-item:disabled{
  opacity: 35%;
}

.sidebar-item:hover {
  cursor: pointer;
  transform: translateY(-2px);
  background-color: #3a3a3a;
}
